
  .menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;

    overflow: hidden;
   
    ///////////////////// 
    // hover effect

    &:hover {
      cursor: pointer;

      & .background-image {
        backface-visibility: hidden;
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(.25, .45, .45, .95);
      }
    }
    
    &.large {
      height: 380px;
    }

    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      
      
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;

      // cool styles of menu-item
      background-color: #eee;
      opacity: .7;

      position: absolute; // no matter what only the calculation of this class apply (align, justi..)
      
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;

        //text-transform: uppercase; // because we are running JS in our component and title is string 
        // we can use the toUpperCase() method on the title. this will also uppercase the text.

      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }